body {
    background-color: blanchedalmond;
}
.highlights {
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    color: coral;
}
#Salmon {
    background-image: url(images/Salmon.png);
}
